.listing {
  background: var(--accent-color);
  border-radius: 30px;
  padding-bottom: 30px;
}


section.listing a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
}
section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}
.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}
@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }  
}

@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }    
}

.list-group {
  max-height: auto;
}
.suggestion{
  margin-left: 574px;
  margin-top: -8px;
}