<article class="mt-5 container" *ngIf="products">
    <img [src]="products.imageUrl" class="listing-photo">
    <section class="listing-description">
       <h2 class="listing-heading">{{products.name}}</h2> 
       <p class="listing-location">{{'R' + products.price}}</p>
    </section>
     <section class="listing-features">
       <h2 class="section-heading">About this product</h2> 
       <ul>
        <li>color: {{products.color}}</li>
        <li>capacity: {{products.capacity}}</li>
        <li>Quantity: {{products.Quantity}}</li>
       </ul>
    </section>
    <section>
        <button class="btn btn-primary" type="button">Add to Cart</button>
    </section>
</article>

<!-- <p>details works</p> -->
