<div class="tab-pane fade show active container bg-body-tertiary mt-5 pt-3 pb-3 w-25 rounded-2" id="register" >
    <h1 class="text-center mb-3">REGISTER</h1>
        <form>
          <div class="mb-3">
            <label for="regName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="regName" >
          </div>
          <div class="mb-3">
            <label for="regEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="regEmail">
          </div>
          <div class="mb-3">
            <label for="regPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="regPassword" autocomplete="on">
          </div>
          <button type="submit" class="btn btn-success w-100" >Register</button>
         
        </form>
</div>
